/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.5em;
    user-select: none;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    text-align: center;
}

hr {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border: none;
    border-top: 0.0625em solid #ccc;
}

textarea {
    width: 100%;
    padding: 0.625em;
    font-family: Consolas, monospace;
    max-width: 31.25em;
    box-sizing: border-box;
}

button, .custom-upload-button {
    padding: 0.625em 1.25em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.625em;
    border-radius: 4px;
}

button:hover, .custom-upload-button:hover {
    background-color: #45a049;
}

/* Ocultar el botón real */
#upload {
    display: none;
}

/* Estilos específicos para el spinner */
.spinner {
    height: 3.125em;
    width: 3.125em;
    margin: 0 auto;
    animation: rotation 0.8s linear infinite;
    border: 0.625em solid rgb(0, 150, 240);
    border-radius: 100%;
    background-color: rgb(200, 100, 250);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Estilos para el popup */
.popup {
    position: absolute;
    background-color: #E6E6E6;
    border: 0.0625em solid black;
    padding: 0.625em;
    border-radius: 0.3125em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 99999;
    cursor: grab;
}

.popup input[type="number"],
.popup input[type="range"] {
    width: 8em;
    padding: 0.25em;
    margin-bottom: 0.3125em;
}

.popup label {
    display: block;
    margin-bottom: 0.625em;
    font-weight: bold;
}

.spinner-text {
    margin-top: 0.5em;
    font-weight: bold;
}

.loading-message {
    font-weight: bold;
    text-align: center;
}

.progress-bar {
    text-align: center;
}

.console-heading {
    font-weight: bold;
}

.console {
    resize: none;
}

/* Estilos para el contenedor */
#container {
    display: flex;
    align-items: flex-start;
}

/* Estilos para el canvas y el SVG */
#canvas_svg {
    border: 0.0625em solid #ccc;
    width: 1024px;
    height: 98vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

#canvas_svg svg {
    flex: 1;
    overflow: hidden;
}

/* Estilos para las instrucciones */
#instructions {
    display: inline-block;
    margin-left: 1.25em;
    vertical-align: top;
}

.zoom-instructions {
    list-style-type: disc;
    padding-left: 1.25em;
}

.zoom-instructions li {
    margin-bottom: 0.5em;
}
/* Estilos para los botones inline */
.inline-buttons button {
    display: inline-block;
    margin-right: 0.625em;
}

.inline-buttons-container {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto; /* Centra los botones horizontalmente */
}

.inline-buttons-container button:only-child {
    margin-left: auto;
    margin-right: auto;
}
.inline-buttons-container button {
    flex-grow: 1; /* Los botones crecerán por igual */
    max-width: 48%; /* Ajusta el ancho máximo individualmente si es necesario */
}

/* Estilos para los botones en #UndoRedo */
#UndoRedo {
    max-width: 12%;
    justify-content: space-between;
}

#UndoRedo button {
    width: auto; /* Restaura el ancho automático de los botones */

}


/* Estilos para el popup de ayuda */
#popuphelp {
    position: fixed;
    display: none;
    top: 50%;
    left: 75%;
    max-width: 90%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #E6E6E6;
    border: 0.0625em solid black;
    padding: 0.625em;
    border-radius: 0.3125em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

#popuphelp h2 {
    margin-top: 0;
}

#popuphelp ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#popuphelp ul li {
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos específicos para draggable-circle */
.draggable-circle {
    pointer-events: all;
}

.emscripten {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

textarea.emscripten {
    font-family: monospace;
    width: 80%;
}

div.emscripten {
    text-align: center;
}

div.emscripten_border {
    border: 0.0625em solid black;
}

/* Estilos adicionales */
#waiting-message {
    position: absolute;
    display: none;
    top: 0;
    background-color: rgba(255, 255, 0, 0.8);
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
